/* CONTACT SECTION */

#contact {
    position: relative;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .contact-info-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .contact-info-container,
  .contact-info-upper-container {
    display: flex;
  }
  
  .contact-icon {
    border-radius: 2rem;
  }
  
  /* Assuming you want to keep the arrow for the About page, you can adjust its position */
  
  .arrow {
    position: absolute;
    right: -5rem; /* Adjust the position as needed */
    bottom: 2.5rem; /* Adjust the position as needed */
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }


  /* ________________ */

  /* Custom Section Styles */

.section-container2 {
    position: relative;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
  }
  
  .section__pic-container2 {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
  .about-pic {
    border-radius: 2rem;
  }
  
  .about-details-container2 {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  
  .about-containers2 {
    display: flex;
    gap: 1rem;
  }
  
  .details-container2 {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
  }
  
  /* Assuming you want to keep the arrow for the About page, you can adjust its position */
  
  .arrow {
    position: absolute;
    right: -5rem; /* Adjust the position as needed */
    bottom: 2.5rem; /* Adjust the position as needed */
  }
  
  