/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Center the links horizontally */
  align-items: center;
  padding: 0 2rem; /* Reduce left and right padding to fit the whole screen */
  height: 17vh;
  background-color: black;
  width: 100%; /* Set the width to 100% for full width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  z-index: 2; /* Ensure it appears above other content */
}

/* Logo Styling */

.logo {
  font-family: Impact, sans-serif;
  font-size: 69px;
  color: rgb(255, 255, 255); /* Set the default color to white */
  text-transform: uppercase;
  text-decoration: none;
  z-index: 2;
  margin-right: auto; /* Push the logo to the left */
}


.red {
  color: red;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

/* Navigation Links Styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-left: auto;
  padding-right: 5rem; /* Add right padding to create space from the end of the screen */
}

.nav-links li {
  margin: 0;
  padding: 0;
  position: relative; /* Add relative positioning to the list items */
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}



/* Hamburger Styling */
.hamburger {
  display: none; /* Hide the hamburger menu by default */
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  color: white;
}

/* Dropdown Styling */
.dropdown {
  position: absolute;
  top: 100%; /* Position dropdown below the navbar */
  left: 0;
  background-color: black;
  width: 100%; /* Set the dropdown width to 100% */
  display: none; /* Hide the dropdown by default */
  flex-wrap: wrap; /* Allow links to wrap to the next line */
  z-index: 1; /* Ensure the dropdown appears above other content */
}

.nav-links.active .dropdown {
  display: flex; /* Show the dropdown when active */
  flex-direction: row; /* Display links horizontally */
  position: relative; /* Reset position to relative */
  top: 0; /* Reset top position */
  background-color: transparent; /* Make the background transparent */
}

/* Style the dropdown links */
.dropdown a {
  text-decoration: none;
  color: white; /* White text color */
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  flex: 1; /* Equal width for links */
  transition: background-color 0.3s ease-in-out;
}

.dropdown a:hover {
  background-color: #61dafb; /* Light blue on hover */
}

