/* AddGames Styling */
*{
  z-index: 1; 
}
h1 {
  color: #fff;
}
h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333; /* Dark gray text color */
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff; /* White background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="checkbox"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  